<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872077491698-td0ump0773ivlccp8otsst95plc0as7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872077491698-td0ump0773ivlccp8otsst95plc0as7d</string>
	<key>API_KEY</key>
	<string>AIzaSyATyBwNtKB8lMU8kugVI5tAE2tR30oTB4U</string>
	<key>GCM_SENDER_ID</key>
	<string>872077491698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aysenurkendirci.Netflix</string>
	<key>PROJECT_ID</key>
	<string>netflix-6c7e7</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-6c7e7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872077491698:ios:85d81cdfca37ec84bb7f6b</string>
</dict>
</plist>